dist/
/bin/
.idea/
.DS_Store
.go/
site/
docs/diagram.svg
proof/.Makefile.coq
proof/*.vo
proof/*.glob
proof/*.vok
proof/*.vos
proof/*.aux
**/testdata/rapid/
.vscode/
.devenv/
.devenv.flake.nix
.devcontainer.json
