dist/
/bin/
.idea/
.DS_Store
.go/
site/
docs/api/
docs/diagram.svg
proof/generated/
proof/goose/proof-stubs/
proof/_CoqProject
proof/Makefile.coq
proof/Makefile.coq.conf
proof/.Makefile.coq.d
proof/**/*.vo
proof/**/*.glob
proof/**/*.vok
proof/**/*.vos
proof/**/*.aux
.opam/
.cache/
.vscode/
.devenv/
.devenv.flake.nix
.devcontainer.json
